<div class="placemiddle">
     <div>
          <label class="qestion-border pt-2 pl-1 pb-2 pr-1">{{Question_obj?.question_text}}</label>
          <div *ngFor="let op of Question_obj?.options">
               <button (click)="onSelect(Question_obj,op.choice)"
                    class="btn-mc">{{op.choice}}:{{op.choicevalue}}</button>
          </div>
     </div>
     <div *ngIf="!wanttogotoSectionOverview(); else elb">
          <button (click)="fetchnext()" class="btn-solid-lg mt-2" style="float: right;">next</button>

     </div>
     <ng-template #elb>
          <div *ngIf="wanttogotoSectionOverview()">
               <button routerLink="/overview" class="btn-solid-lg mt-2" style="float: right;">Next</button>
          </div>
     </ng-template>
     <button (click)="fetchprevious()" *ngIf="!if_First_Question()" class="btn-outline-lg mt-2"
          style="float: left;">Previous</button>
     <router-outlet></router-outlet>
</div>