<div class="placemiddle">
     <div >
          <label class="qestion-border pt-2 pl-1 pb-2 pr-1">{{QText}}</label>
          <div class="qestion-border">
               <div *ngFor="let op of options">
                    <button (click)="onSelect(op.choice,op.choicevalue,op.minPrice,op.maxPrice)" class="btn-mc">{{op.choice}}:{{op.choicevalue}}</button>
               </div>
          </div>
     </div>

     <div *ngIf="!wanttogotoSectionOverview()">
          <button (click)="fetchnext()" class="btn-solid-lg mt-2" style="float: right;">next</button>

     </div>

     <div *ngIf="wanttogotoSectionOverview()">
          <button routerLink="/overview" class="btn-solid-lg mt-2" style="float: right;">Next</button>
     </div>

     <button (click)="fetchprevious()" *ngIf="ifFirstQuestion()" class="btn-outline-lg mt-2"
          style="float: left;">Previous</button>


     <router-outlet></router-outlet>
</div>




     <!-- [style.color]="'blue'" -->
     <!-- [style.color]="haserr?'red':'green'" -->
     <!-- [ngStyles]="classwithallstylesthatobjokk" -->

     <!-- <div *ngIf="checkChoicevalue(op.choice);else elb">
                         
                         <button (click)="onSelect(op.choice,op.choicevalue)" class=" btn-notmc add-color-if-true"
                         >{{op.choice}}:{{op.choicevalue}}</button>
                    </div>
                    <ng-template #elb>
                         
                         <button (click)="onSelect(op.choice,op.choicevalue)"  class=" btn-notmc"
                         >{{op.choice}}:{{op.choicevalue}}</button>
                         [ngClass]="{'add-color-if-true':checkChoicevalue(op.choice)}" -->
                    <!-- </ng-template> -->


                    <!-- 
     <div *ngIf=!mc>
          <label class="qestion-border pt-2 pl-1 pb-2 pr-1">{{QText}}</label>
          <div class="qestion-border">
               <div *ngFor="let op of options;index as i">
                    <button (click)="onSelect(op.choice,op.choicevalue,op.minPrice,op.maxPrice)"
                         [ngClass]="checkChoicevalue(i)?'add-color-if-true btn-notmc':'btn-notmc'">{{op.choice}}:{{op.choicevalue}}</button>
               </div>
          </div>
     </div> *ngIf=mc-->