<p>questionsdisplay works!</p>
<!-- <p>{{sections}}</p> -->
<p *ngFor="let obj of sections">{{obj.id}} {{obj.qafs}}</p>

<div>{{ name }}</div>

<input type="text" class="form-control" #serverNameInput>
<button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>

<!-- <div>
      if not multiple choice
      <label>{{Question}}</label>
      <div>

            <button>{{option1}}</button> on click only go to next question
            <button>{{option2}}</button>
      </div>
</div>


<div>
      if multiplechoice
      <label>{{Question}}</label>
      <div *ngFor="let op in options arr">

            <button>{{op}}</button>
      </div>
      if numberofQ!=1 <button>GotoNextQ</button>
      else<button>Continue</button>
</div> -->